<div class="container-fluid mb-2">
  <div class="row">
    <div class="col-md-12 page-name">
      <h1 class="page-title">التخصصات</h1>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </symbol>
    </svg>

    @if (successMessage) {
    <div class="alert alert-success d-flex align-items-center mt-4" role="alert">
      <svg class="bi flex-shrink-0 me-2 ms-3" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" />
      </svg>
      <div>{{ successMessage }}</div>
    </div>
    }
    @if (errorMessage) {
    <div class="alert alert-danger d-flex align-items-center mt-4" role="alert">
      <svg class="bi flex-shrink-0 me-2 ms-3" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill" />
      </svg>
      <div>{{ errorMessage }}</div>
    </div>
    }

    <form #form="ngForm" (ngSubmit)="handleSubmit()" class="mt-2 needs-validation" novalidate>
      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="form-section">
            <input type="text" id="validationCustom01" class="form-control" placeholder="اسم التخصص" name="name"
              [(ngModel)]="Specialty.name" required #name="ngModel" />
            <div class="invalid-feedback">يرجى إدخال اسم التخصص</div>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <div class="form-section">
            <input type="text" id="validationCustom01" class="form-control" placeholder="لينك صورة التخصص" name="imageUrl"
              [(ngModel)]="Specialty.imageUrl" required #imageUrl="ngModel" />
            <div class="invalid-feedback">يرجى إدخال صورة التخصص</div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center text-center mt-5">
          <button class="btn btn-save" type="submit">إضافة</button>
        </div>
      </div>
    </form>

    <!------------------- table -------------------------->
    <div class="col-md-12 d-flex justify-content-center text-center mt-4">
      <div class="col-md-10 col-sm-12 table-Specialty">
        <div class="content d-flex">
          <div class="img text-center">
            <h5>صورة التخصص</h5>
          </div>
          <div class="title text-center">
            <h5>اسم التخصص</h5>
          </div>
          <div class="btns text-center">
            <h5>حذف</h5>
          </div>
        </div>
        @if (loading) {
        <div class="col-12 text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        } @else if (nospecialitiesMessage) {
        <div class="col-12 text-center">
          <p class="text-danger">{{ nospecialitiesMessage }}</p>
        </div>
        } @else {
        @for (Specialty of specialities; track Specialty.id) {
        <div class="content d-flex">
          <div class="img text-center">
            <h5><img src="{{ Specialty.imageUrl }}" alt=""></h5>
          </div>
          <div class="title text-center">
            <h5>{{ Specialty.name }}</h5>
          </div>
          <div class="btns">
            <button (click)="deleteSpeciality(Specialty.id)">
              <img src="/assets/img/spe/dele.png" alt="Delete">
            </button>
          </div>
        </div>
        }
        }
      </div>
    </div>
  </div>
</div>
